$theme-color: #ffb13b;

:root {
   font-family: Arial, Helvetica, sans-serif;
}

body {
   margin: 0 10px;
}

#app {
   overflow: hidden;
}

h1 {
   color: $theme-color;
}

#bar {
   background-color: $theme-color;
}

@import './layout';
